
        body{
            font-family: Arial, Helvetica, sans-serif;
            background: #0d0d0d;
            margin: 0;
            padding: 0;
        }
        h1{
            text-align: center;
            margin-top: 30px;
            font-size: 50px;
            color: #eee;
            font-weight:bold;
            text-shadow: 0px 0px 10px rgba(255,255,255,0.2);




        }
        .cal{
            background-color: #1b1b1b;
            width: 300px;
            margin: 40px auto;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 00px 8px 25px rgba(0,0,0,0.8);
           
        }
        .result-screen{
            background-color: #111;
            border-radius: 12px;
            padding: 12px;
            margin-bottom: 15px;
            border: 2px solid #333;
        }
        .screen-row{
            display: flex;
            justify-content: space-evenly;
           
        }
        .screen-box, .ans-screen{
            width: 30%;
            height: 40px;
            text-align: center;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            background-color:   #222;
            color: #fff;
            box-shadow: inset 0px 1px 3px rgba(0,0,0,0.6);
        }
        table{
            width: 100%;
        }
        
        
        button{
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border-color: red;
            color: white;
            background-color: #111;
            box-shadow: 0px 0px 10px rgba(255,255,255,0.1);
            cursor: pointer;
            font-size: 20px;
            margin: 5px;
            transition: 0.2s ease-in-out;
            
        }

        .op{
          background-color: #FF8C00;
          
        }
        .op:hover{
          background-color: #C66D00;
          box-shadow: 0px 0px 12px rgba(255, 120, 0, 0.3);


        }
        
        button:hover{
            background-color: #0d0d0d;
            transform: scale(1.05);
            box-shadow: 0px 0px 12px rgba(255,255,255,0.3);
        }

        .ans-screen{
            width: 100%;
            margin-top: 10px;
        }
       
   